VITE_SUPABASE_URL=https://leicydnyaegvkncznyml.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlaWN5ZG55YWVndmtuY3pueW1sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwOTUwNzcsImV4cCI6MjA5NjY3MTA3N30.NQwCkX52Cc5m_2bMH_G0Na98gZYhNgIeHvJJH-YO20E
